<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head-hs'); %>

<body>
    <div class="container">
            <%- include('../partials/admin-header-hs'); %>
        <main>
            <h2>Delete Order</h2>
            <h3>Order deleted successfully.</h3>
        </main>
        <%- include('../partials/footer-hs'); %>
    </div>
</body>

</html>
