<header>
  <h1>Juice Shop</h1>
</header>
<nav>
  <a href="/home">Order Juices</a>
  <a href="/view-juices">View Orders</a>
  <a href="/login">Login</a>
</nav>
<style>
  header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 0;
    background-color: #ff7909;
    color: #fff;
  }

  header h1 {
    margin-left: 500px;
  }

  header h3 {
    float: right;
    margin-left: 350px;
  }

  nav {
    text-align: center;
    background-color: #ff7909;
    padding: 10px;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    margin: 50px;
  }
  
  nav a:hover {
    text-decoration: none;
    color: black;
    margin: 50px;
  }
</style>
