<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <title>Fashion Store</title>

    <script src="https://cdn.tiny.cloud/1/5iziltvyuucetc0kdq2lno0hsb8mef0dt7q5rdvk7l21s3pt/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#pageContent'
      });
    </script>
</head>