<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
    <div class="container">
        <%- include('../partials/admin-header'); %>

        <main>
            <h2>Welcome</h2>
            <h3>Hello Admin, Welcome to the dashboard!</h3>
        </main>
        <%- include('../partials/footer'); %>
    </div>
</body>

</html>