<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
    <div class="container">
        <%- include('../partials/admin-header'); %>

        <main>
            <h2>Delete page</h2>
            <h3>You have successfully deleted the page!</h3>
        </main>
        <%- include('../partials/footer'); %>
    </div>
</body>

</html>